{% extends "_master.twig" %}
{% block title%}{{ parent() }}{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block bodyClass %}body--index{% endblock %}


{% block description %}{{ parent() }} - 首页{% endblock %}

{% block bread %}  {% endblock %}

{% block containerClass %}container--index{% endblock %}
{% block content %}
    <div class="main">
        <div class="main-wrapper">
            <div class="main__name">
                <strong>一條人 | Wayne Tse</strong>
            </div>
            <ul class="main__menu">
                <li class="item">
                    <a href="https://github.com/teamen" target="_blank">Github</a>
                </li>
                <li class="item">
                    <a href="mailto:waynetsecn@gmail.com">Email</a>
                </li>
                <li class="item">
                    <a href="essays.html">Essays</a>
                </li>
                <li class="item item--last">
                    <a href="#" target="_blank">Weibo</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
